:root {
  /* COLORS */
  --black: #000000;

  /* light theme */
  --background-light: #fffbff;
  --on-background-light: #201a18;
  --surface-light: #fff8f6;
  --on-surface-light: #201a18;
  --on-surface-variant-light: #52443d;
  --inverse-surface-light: #362f2c;
  --inverse-on-surface-light: #fbeee9;

  /* Dark theme */
  --background-dark: #201a18;
  --on-background-dark: #ede0db;
  --surface-dark: #181210;
  --on-surface-dark: #d0c4bf;
  --on-surface-variant-dark: #d7c2b9;
  --inverse-surface-dark: #ede0db;
  --inverse-on-surface-dark: #201a18;

  /* Border radius */
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-extra-large: 28px;
  --radius-full: 1000px;

  /* Transition */
  --tr-duration-medium: 400ms;
  --tr-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);

  /* Spacing */
  --spacing-base: 4px;
  --spacing-2: calc(var(--spacing-base) * 2);

  /* Font size */
  --fs-title-small: 1.4rem;

  /* Line height */
  --lh-title-small: 20px;

  /* Font weight */
  --fw-medium: 500;

  /* line spacing */
  --ls-p-010: 0.1px;
}

[data-theme="light"] {
  color-scheme: light;

  --background: var(--background-light);
  --on-background: var(--on-background-light);
  --surface: var(--surface-light);
  --on-surface: var(--on-surface-light);
  --on-surface-variant: var(--on-surface-variant-light);
  --inverse-surface: var(--inverse-surface-light);
  --inverse-on-surface: var(--inverse-on-surface-light);
}

[data-theme="dark"] {
  color-scheme: dark;

  --background: var(--background-dark);
  --on-background: var(--on-background-dark);
  --surface: var(--surface-dark);
  --on-surface: var(--on-surface-dark);
  --inverse-surface: var(--inverse-surface-dark);
  --on-surface-variant: var(--on-surface-variant-dark);
  --inverse-on-surface: var(--inverse-on-surface-dark);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--background);
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon button */
.icon-btn {
  display: grid;
  place-items: center;
  color: var(--on-surface-variant);
  border-radius: var(--radius-full);
  --state-layer-bg: var(--on-surface-variant);
}

.icon-btn.large {
  width: 40px;
  height: 40px;
}

.material-symbols-rounded {
  font-size: 3rem;
}

.theme-btn {
  transition: transform var(--tr-duration-medium) var(--tr-easing-emphasized);
}

[data-theme="dark"] .theme-btn .dark-icon,
.theme-btn .light-icon {
  display: none;
}

[data-theme="dark"] .theme-btn .light-icon {
  display: block;
}

[data-theme="dark"] .theme-btn {
  transform: rotate(-90deg);
}

:has(> .state-layer) {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  -webkit-user-select: none;
  user-select: none;
}

.state-layer {
  position: absolute;
  inset: 0;
  background-color: var(--state-layer-bg);
  opacity: 0;
  transition: opacity var(--tr-duration-short) var(--tr-easing-linear);
  z-index: -1;
}

:has(> .state-layer):hover > .state-layer {
  opacity: 0.08;
}

:has(> .state-layer):is(:focus, :focus-visible, :focus-within) > .state-layer {
  opacity: 0.12;
}

:has(> .state-layer):active > .state-layer {
  opacity: 0.16;
}

/* Tooltip */
.tooltip {
  position: fixed;
  z-index: 4;
  height: 24px;
  display: grid;
  align-items: center;
  padding-inline: var(--spacing-2);
  background-color: var(--inverse-surface);
  color: var(--inverse-on-surface);
  white-space: nowrap;
  border-radius: var(--radius-small);
  pointer-events: none;
  animation: fade var(--tr-duration-short) var(--tr-easing-emphasized) forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Typography */
.text-title-small {
  font-size: var(--fs-title-small);
  line-height: var(--lh-title-small);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-p-010);
}
